<mat-card>
	<mat-card-header>
		<div class="flex align-items-center gap-1">
			<img class="img" src="{{imgLogoPath}}">
			<mat-card-title class = "titolo">Chi siamo?</mat-card-title>
		</div>
	</mat-card-header>
</mat-card>

<mat-card>
	<h1 style="margin-left: 10%; margin-right: 10%;">Slide Show</h1>
		<div style="margin-left: 10%; margin-right: 10%; margin-top: 50px;">
			<ngx-slick-carousel class = "carousel"
			#slickModal="slick-carousel"
			[config]="slideConfig">
				<div ngxSlickItem *ngFor="let slide of slides" class="slide">
					<img src="{{slide.img}}" alt="" class = "img-style">
				</div>
			</ngx-slick-carousel>
		</div>

	<mat-card-content>


	<div>
		<p>
			<code>
				L'Associazione Culturale E.T.S. Post Scriptum è un'Associazione senza fini di lucro che
				si propone di promuovere l'arte, l'archeologia e la cultura, attraverso lo studio,
				la conoscenza e valorizzazione di luoghi e monumenti al fine di favorire gli scambi
				culturali e scientifici con la società contemporanea e con gli enti preposti alla tutela
				e d alla conservazione del patrimonio culturale.
			</code>
		</p>
	</div>
	</mat-card-content>
	<mat-card-actions>
	  <button mat-button>LIKE</button>
	  <button mat-button>SHARE</button>
	</mat-card-actions>
</mat-card>

