/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.slick-prev:before, .slick-next:before {
  color: black !important;
}
.img-style {
	margin-left: auto;
	margin-right: auto;
	height: 250px;
  	width: 250px;
}
@media (min-width: 992) {
	.img-style {
		height: 10px !important;
  		width: 10px !important;
	}
}
